@charset "UTF-8";


header {
    background-color: black;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
#p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}